header {
    background-color: rgb(31, 31, 31)
}

body {
    background-image: url(img/fondoCine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-body-secondary {
    background-color: transparent !important;
}

.btn-instagram {
    color: #e1306c;
    border-color: #e1306c;
}

.btn-instagram:hover {
    background-color: #c1255b;
    border-color: #e1306c;
}

.custom-button {
    background-color: #ff0000;
    border-color: black;
}

.custom-button:hover {
    background-color: #df001e;
    border-color: black;

}

.error-message {
    color: red;
    display: none; /* Ocultar el mensaje de error inicialmente */
}

.form-control.error {
    border-color: red;
    box-shadow: 0 0 5px red;
}
